*{
  /* outline: 1px black solid; */
}
.map-page_section{
  display: flex;
  flex-direction: row;
  align-items: start;
}
#map{
  width: 792px;
  height: 739px;
  margin-top: 15px;
  margin-bottom: 15px;
  z-index: 0;

}
.search-result_container{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 25px;
}

.send{
  border: none;
  cursor: pointer;
}

/* markerCluster */
.marker-cluster-small {
		background-color: rgba(181, 226, 140, 0.6);
		}
  .marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
    }

  .marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
    }
  .marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
    }

  .marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
    }
  .marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
    }

  .marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    }
  .marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
  .marker-cluster span {
    line-height: 30px;
    }