@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* -----整體設置----- */
*{
  /* outline: 1px solid #000; */
  margin: 0;
  padding: 0;

  font-family: "Noto Sans TC";
}
body, html{
  background-color: #F6F7FB; 
  width: 100%;
  height: 100%;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #F6F7FB;
}
.section_container{
  max-width: 1280px;
}

/* -----共同擁有的東西----- */
.icon_little-triangle{
  display: inline-block;
  margin-left: 90px;
  margin-right: 14px;
  vertical-align: middle;
}
h2{
  display: inline-block;
  vertical-align: middle;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
h3{
  display: inline-block;
  vertical-align: middle;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #797979;
}
.display_none{
  display: none;
}
.display_flex{
  display: flex;
}
.section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 281px;
  background-color: #F6F7FB;
}

/* -----header----- */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 0;
  background-color: #fff;

  /*---固定Header---*/
  position: sticky;
  top: 0;
  z-index: 1;
}
.header_container{
  display: flex;
  justify-content: space-between;
  width: 1280px;
  padding: 0 108px;
  padding-top: 29px;
  padding-bottom: 18px;
}
.logo_img{
  display: inline-block;
  width: 99px;
  height: 57px;
}
nav{
  display: flex;
  align-items: center;
}
nav > a{
  display: inline-block;
  margin-left: 27px;
  text-decoration: none;
}
.nav_span{
  vertical-align: middle;
  margin-left: 8px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.underline{
  text-decoration-line: underline;
}
.nav_icon{
  vertical-align: middle;
  width: 34px;
  height: 34px;
}
.red{
  color: #FF1D6C;
}
.yellow{
  color: #FFB72C;
}
.green{
  color: #007350;
}

/* -----banner_container----- */
.banner_container{
  width: 1280px;
  height: 536px;
  margin: 0 auto;
  box-shadow: 0px 7px 13px -5px rgba(0,0,0,0.2);

  position: relative;

  font-size: 0;
}
.banner-img{
  display: inline-block;
  width: 1226px;
  height: 490.06px;
  padding: 27px;
  background-color: #fff;
}
.search-span{
  display: block;
  margin-top: 9px;
  margin-bottom: 9px;

  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.search_container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.search-row1{
  margin-bottom: 8px;
}
.search-row1 input{
  border: 0;
  border-radius: 6px;
  width: 409px;
  height: 40px;
  padding: 0 12px 0 24px;
  /* padding-left: 24px; */
  margin-right: 6px;
  vertical-align: middle;

  background: #FFFFFF;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
.search-row1 input::placeholder{
  color: #D2D2D2;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.search-row2 select{
  border: 0;
  border-radius: 6px;
  width: 219px;
  height: 40px;
  margin-right: 7px;
  padding-left: 16px;
  vertical-align: middle;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;

}
.disabled{
  color: #797979;
}
.search-row2 select:nth-child(2){
  margin-right: 6px;
}
.search-row2 button{
  display: inline-block;
  border: 0;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
}
.bannner-icon-img{
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

/* -----search_container（JS）----- */
.list_section{
  display: none;
}
.list{
  margin-top: 90px;
}
.new-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1280px;
  margin-top: 12px;
  margin-bottom: 132px;
}
.list_card{
  display: inline-block;
  width: 206px;
  height: 243px;
  margin: 9px;
  background-color: #fff;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);

  font-size: 0;
}
.list_img{
  width: 182px;
  height: 137px;
  margin: 12px;
  margin-bottom: 10px;
}
.list_sapn{
  display: inline-block;
  width: 181px;
  height: 42px;
  margin: 0 12px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  /*溢出文字變點點點*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.address_span{
  display: inline-block;
  width: 150px;
  vertical-align: middle;

  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: #007350;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
}
.icon_map{
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.address_container{
  display: inline-block;
  margin: 0 12px;
  margin-top: 9.5px;

  font-size: 0;
}

/* -----hot city----- */
.hot-city_container{
  width: 1280px;

  font-size: 0;
}
.hot-city{
  margin-top: 90px;
  margin-left: auto;
}
.hot-city_block{
  display: inline-block;
}
.hot-city_block p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.hot-city_block img{
  display: block;
  margin: 0 auto;
}
.hot-city_block span{
  display: block;
  margin: 12.22px;

  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.hot-city_small-block{
  display: block;
  padding: 7px 8px;
  margin-right: 13px;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
.hot-city_small-block:nth-child(2){
  margin-top: 5px;
}
.hot-city_big-block{
  display: block;
  padding: 14px 12px;
  margin-right: 13px;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
/* ---------------- 
  |  左右按鈕的部分  | 
  ---------------- */
/*---left---*/
.flex-decoration_row{
  display: flex;
  flex-direction: row;
}
.next-page_left-button{
  display: flex;
  align-items: center;
  margin-left: 45px;
}
.next-page_left-button a{
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
  border-radius: 6px;
  position: relative;
}
.next-page_left-button i{
  font-size: 25px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  color: #0D0B0C;
}
.next-page_left-button a:hover{
  background-color: #FF1D6C;
  color: #fff;
  transition: .5s hover
}
.next-page_left-button a:hover i{
  color: #fff;
  transition: .5s hover
}


/*---right---*/
.next-page_right-button{
  display: flex;
  margin-left: 21px;
  align-items: center;
  z-index: 10;

  visibility: hidden;
}
.next-page_right-button a{
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #0D0B0C;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
  border-radius: 6px;
  position: relative;
}
.next-page_right-button i{
  font-size: 25px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  color: #fff;
}
.next-page_right-button a:hover{
  background-color: #FF1D6C;
  color: #fff;
  transition: .5s hover
}
.next-page_right-button a:hover i{
  color: #fff;
  transition: .5s hover
}
/* ---------------- 
  |  slide的部分  | 
  ---------------- */
.slides{
  display: flex;
  transition: .5s transform ease-in-out;
}
.slide_container{
  display: flex;
  width: 1062px;
  height: 250px;
  margin-left: 21px;
  margin-top: 12px;
  overflow: hidden;
  position: relative;
}

/* -----hot activity----- */
.hot-activity_container{
  display: flex;
  width: 1074px;
  height: 504px;
  overflow: hidden;

  font-size: 0;
}
.hot-activity{
  margin-top: 90px;
  margin-bottom: 13px;
}
.hot-activity img{
  margin-left: 0px;
}
/* -----hot activity_container（JS）----- */
.hot-activity_container{
  display: flex;
  flex-direction: column;
}
.hot-activity_row1{
  display: flex;
  flex-direction: row;
}
.hot-activity_row2{
  display: flex;
  flex-direction: row;
}
.hot-activity_block{
  display: flex;
  width: 522px;
  height: 228px;
  margin-bottom: 48px;
  background-color: #fff;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
.hot-activity_block:nth-child(2){
  margin-left: 21px;
}
.hot-activity_img{
  width: 187px;
  height: 196px;
  margin: 16px 0 16px 16px;
}
.hot-activity_span{
  display: inline-block;
  /*溢出文字變點點點*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  margin-bottom: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #0D0B0C;
}
.hot-activity_p{
  width: 278px;
  height: 102px;
  margin-bottom: 14px;
  /*溢出文字變點點點*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ACACAC;
}
.hot-activity_address_container{
  display: inline-block;
}
.hot-activity_address_container .icon_map{
  display: inline-block;
  vertical-align: middle;
}
.hot-activity_address_span{
  display: inline-block;
  vertical-align: middle;
  width: 88px;
  height: 21px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #0D0B0C;
}
.hot-activity_introduction{
  display: inline-block;
  width: 278px;
  height: 193px;
  margin: 16px 25px 19px 16px;
}
.hot-activity_introduction a{
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #FF1D6C;
  box-sizing: border-box;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  left: 147px;
  top: 0px;
  margin-left: 27px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;


  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 35px;
  color: #FF1D6C;
}
.hot-activity_introduction a:hover{
  background-color: #FF1D6C;
  color: #fff;
  transition: 0.4s ease-in-out;
}

/* -----hot scenic spot----- */
.hot-scenic-spot{
  margin-top: 90px;
  margin-bottom: 13px;
}
.hot-scenic-spot_list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1280px;
  margin-bottom: 85px;
}

/* -----footer----- */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 65px;
  background-color: #fff;
}
footer span,footer a{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #ACACAC;
  text-decoration: none;
}

/* -----lightbox----- */
.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(210, 210, 210, 0.75);
  backdrop-filter: blur(28px);
  z-index: -1;
  opacity: 0;
  overflow: auto;
}
.lightbox:target {
  z-index: 2;
  opacity: 1;
  transition: 0.5s;
}
.lightbox_all{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.lightbox_left{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 676px;
  height: 810px;
}
.lightbox_img{
  margin: 32px;
  width: 612px;
  height: 459px;
}
.lightbox_span{
  margin: 0 32px;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}
.lightbox_p{
  margin: 0 32px;
  margin-top: 22px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.lightbox_right{
  margin-left: 12px;
}
.lightbox_a{
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #FF1D6C;
  box-shadow: 0px 2px 4px rgba(13, 11, 12, 0.2);
  border-radius: 8px;
}
.lightbox_a i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  font-size: 30px;
  color: #fff;
}

/* -----wrong search page----- */
.wrong-search-page_section{
  display: none;
}
.wrong-search-page{
  display: flex;
}
.wrong-search-page_text{
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}
.wrong-search-page_text span:nth-child(1){
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FFB72C;
}
.wrong-search-page_text span:nth-child(2){
  margin-top: 4px;

  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #D2D2D2;
}